In [3]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [5]:
p=pd.read_csv("D:\Github\multi_index_practice.csv")

<>:1: SyntaxWarning: invalid escape sequence '\G'
<>:1: SyntaxWarning: invalid escape sequence '\G'
C:\Users\Hammad\AppData\Local\Temp\ipykernel_23196\2184339464.py:1: SyntaxWarning: invalid escape sequence '\G'
  p=pd.read_csv("D:\Github\multi_index_practice.csv")

In [6]:
p

,Employee Info,Employee Info.1,Job Info,Job Info.1,Job Info.2,Job Info.3
0,Name,Age,Department,Position,Salary,Years of Experience
1,Alice,25,HR,Manager,50000,3
2,Bob,30,IT,Developer,60000,5
3,Charlie,35,IT,Analyst,55000,4
4,David,40,Finance,Manager,65000,10
5,Eve,29,HR,Analyst,52000,2
6,Frank,33,Finance,Developer,58000,6

In [9]:
p['Job Info'].plot(kind='hist')

TypeError: no numeric data to plot