In [1]:
print("hello")

hello

In [1]:
import pandas as pd

In [3]:
df = pd.read_csv("D:\Github\multi_index_practice.csv")

<>:1: SyntaxWarning: invalid escape sequence '\G'
<>:1: SyntaxWarning: invalid escape sequence '\G'
C:\Users\Hammad\AppData\Local\Temp\ipykernel_4104\2020300096.py:1: SyntaxWarning: invalid escape sequence '\G'
  df = pd.read_csv("D:\Github\multi_index_practice.csv")

In [8]:
df

,Employee Info,Employee Info.1,Job Info,Job Info.1,Job Info.2,Job Info.3
0,Name,Age,Department,Position,Salary,Years of Experience
1,Alice,25,HR,Manager,50000,3
2,Bob,30,IT,Developer,60000,5
3,Charlie,35,IT,Analyst,55000,4
4,David,40,Finance,Manager,65000,10
5,Eve,29,HR,Analyst,52000,2
6,Frank,33,Finance,Developer,58000,6

In [12]:
df[["Age","Name","Salary","Salary"]]

KeyError: "None of [Index(['Age', 'Name', 'Salary', 'Salary'], dtype='object')] are in the [columns]"

In [ ]:
df.iloc[0]#not a function

Employee Info                     Name
Employee Info.1                    Age
Job Info                    Department
Job Info.1                    Position
Job Info.2                      Salary
Job Info.3         Years of Experience
Name: 0, dtype: object

In [14]:
df[:].iloc[0:4:2]

,Employee Info,Employee Info.1,Job Info,Job Info.1,Job Info.2,Job Info.3
0,Name,Age,Department,Position,Salary,Years of Experience
2,Bob,30,IT,Developer,60000,5

In [ ]:
df[:].iloc[::-1]#integer based indexing

,Employee Info,Employee Info.1,Job Info,Job Info.1,Job Info.2,Job Info.3
6,Frank,33,Finance,Developer,58000,6
5,Eve,29,HR,Analyst,52000,2
4,David,40,Finance,Manager,65000,10
3,Charlie,35,IT,Analyst,55000,4
2,Bob,30,IT,Developer,60000,5
1,Alice,25,HR,Manager,50000,3
0,Name,Age,Department,Position,Salary,Years of Experience

In [ ]:
df = df.set_index["Name"]#change index

TypeError: 'method' object is not subscriptable

In [22]:
df.columns

Index(['Employee Info', 'Employee Info.1', 'Job Info', 'Job Info.1',
       'Job Info.2', 'Job Info.3'],
      dtype='object')

In [ ]:
df.loc["Job Info"]#label based indexing

KeyError: 'Job Info'

In [ ]:
df,loc["Alice":"Charlie":2]#charlie is inclusive

In [ ]:
df.reset_index(inplace=True)

In [ ]:
# & bit wise and operator